<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test PM2</title>

    <style>
        * {
            box-sizing: border-box;
        }

        html,
        body {
            /* height: 100%; */
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        li{
            margin-bottom: 10px;
        }

        .title {
            text-align: center;
        }

        .list{
            padding: 20px;
        }
    </style>
</head>

<body>
    <div class="title">
        <h1>Teste com o PM2 na Heroku</h1>
    </div>

    <div class="list">
        <h4>Opções</h4>
        <ul>
            <li><a href="/coins">Todas a moedas</a></li>
            <li><a href="/coin/USD-BRL">Cotação específica</a><span> Exemplo: USD-BRL</span></li>
        </ul>
    </div>
</body>

</html>